<!-- Begin Project List -->
   <div class="row full-row-white-components">
      <div class="container">
         <div class="row">
            <!-- Begin Project List table -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <!-- Begin Project Listing -->
               <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <section>							 
						<tabset> 
							<projects-tab title="{{projectsLabel}}">
								<table-api [imagePath]="imagePath" [tableHeaders]= "projectsTableHeaders" [locale]="locale" [apiUrl]="projectsApiUrl"  [inputApiUrl]="projectsApiUrl" [loadMoreLabel]="loadMoreLabel" [errorMsg]="projectsErrorMessage" tabType="projects" [downloadLabel]="downloadLabel" [projectid]="projectid"> Loading...</table-api>
							</projects-tab>
							<projects-tab title="{{archivalLabel}}">
								<table-api [imagePath]="imagePath" [tableHeaders]= "archivalTableHeaders" [locale]="locale" [apiUrl]="archivalApiUrl"  [inputApiUrl]="archivalApiUrl" [loadMoreLabel]="loadMoreLabel" [errorMsg]="archivalErrorMessage" tabType="archival" [downloadLabel]="downloadLabel" [projectid]="projectid"> Loading...</table-api>
							</projects-tab>
						</tabset>
                     </section>
                  </div>
               </div>
               <!-- End Project Listing -->
            </div>
            <!-- Begin Project List table -->
         </div>
      </div>
   </div>
<!-- End Project List -->